{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
{% block extra_css %}
{% endblock %}
</head>
<script>
function toggleComments(postId) {

    const section = document.getElementById(
        "comments-" + postId
    );

    if (section.style.display === "block") {
        section.style.display = "none";
    } else {
        section.style.display = "block";
    }
}
</script>
<body>
  <div id="header">
    <a href="{% url "dashboard" %}"><span class="logo">PriSoUpdates</span></a>

    <span class="user">
      {% if request.user.is_authenticated %}
        <strong>{{ request.user.first_name|default:request.user.username }} </strong>
        <form action="{% url "logout" %}" method="post">
          <button type="submit">Logout</button>
          {% csrf_token %}
        </form>
      {% else %}
        <a href="{% url "login" %}">Log-in</a>
      {% endif %}
    </span>
  </div>
  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">
        {{ message|safe }}<a href="#" class="close">x</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

    {% block page %}
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  {% endblock %}
</body>
</html>