{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer">
{% endblock %}

{% block content %}
<div class="dashboard-layout">

    <!-- Left Sidebar -->
    <div class="dashboard-card profile-option">
        <div class="profile-header">
            {% if profile.profile_pic %}
              <img src="{{ profile.profile_pic.url }}" class="avatar" alt="Profile Photo">
            {% else %}
          <div class="avatar"></div>
          {% endif %}

            <div class="username">
                <a href = "{% url "profile" profile.user.username%}">{{profile.user.username}}</a>
            </div>

            <div class="user-bio">
                {{profile.bio}}
            </div>
            <div class="followers-following">
                <div class="followers">
                   <span class="count">{{ profile.follower.count }}</span>
                    <span class="label">Followers</span>
                </div>
                <div class="following">
                    <span class="count">{{ profile.following.count }}</span>
                    <span class="label">Following</span>
                </div>
            </div>
            
        </div>
        <div class="post-add">
        <a href="{% url 'activity:post_create' %}" class="postadded">
            Add Post
        </a>
        </div>
        <div class="profile-edit-option">
          <p>You can <a href="{% url "edit" %}">edit your profile</a> or <a href="{% url "password_change" %}">change your password</a>.</p>
        </div>
    </div>

    <!-- Main Feed -->
    <div class="dashboard-card all-post">

        <div class="section-title">
            Recent Posts
        </div>
        {% for post in posts %}
          
        <div class="post">
            
            <div class="post-header">
                <div class="post-image-title">
                    <div class="post-user-image">
                    {% if post.author.profile_pic %}
                        <img src="{{ post.author.profile_pic.url }}" class="avatar2" alt="">
                    {% else %}
                    <div class="avatar2"></div>
                    {% endif %}
                </div>
                <div class="post-author">
                    <a href="{% url "profile" post.author.user.username %}"><strong>{{post.author.user.username}}</strong></a>
                </div>
                </div>
                
                <div class="post-follow-option">

                    {% if request.user.profile != post.author %}

                        {% if post.author.id in following_ids %}
                            <a href="{% url 'unfollow' post.author.user.username %}"><i>Unfollow</i></a>
                        {% else %}
                            <a href="{% url 'follow' post.author.user.username %}"><i>+ Follow</i></a>
                        {% endif %}
                    {% endif %}

                </div>

            </div>
            
            <div class="post-detail">
                <div class="post-detail-header">
                    <div class="post-title"><h3>{{post.title}}</h3></div>
                    <div class="post-time"><p><i>{{post.created}}</i></p></div>
                </div>
                <div class="img">
                <div class="img-detail">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="" class="image">
                    {% endif %}
                </div>
                </div>
                <div class="post-body">
                    <p>{{post.body}}</p>
                </div>
                <!-- comment part -->
                <div class="comment-form">
                    <form action="{% url 'activity:post_comment' post.id %}" method="post">
                        {% csrf_token %}

                        <input type="text"
                            name="body"
                            placeholder="Write a comment..."
                            required>

                            <button type="submit">
                                Comment
                            </button>
                        </form>
                </div>
                 <div class="post-actions">

    <button class="comment-btn"
            onclick="toggleComments('{{ post.id }}')">

        <i class="fa-regular fa-comment"></i>

        <span>{{ post.comment.count }}</span>

    </button>

</div>

<div class="post-comment" id="comments-{{ post.id }}">

    {% for com in post.comment.all %}

        <div class="comment-box">

            <div class="comment-avatar">
                <img src="{{ com.user.profile_pic.url }}" alt="">
            </div>

            <div class="comment-content">

                <div class="comment-header">
                    <div class="comment-user">
                    {{ com.user.user.username }}
                    </div>
                    <div class="comment-time">
                        <i class="text">{{ com.user.created }}</i>
                    </div>
                </div>

                <div class="comment-body">
                    {{ com.body }}
                </div>

            </div>

        </div>

    {% empty %}

        <div class="no-comment">
            No comments yet
        </div>

    {% endfor %}

</div>

            </div>
            
        </div>
        {% endfor %}
    </div>

    <!-- Right Sidebar -->
    <div class="dashboard-card channels-list">

        <div class="section-title">
            Following
        </div>

        {% for channel in following %}
        <div class="channel">
            <div class="post-image-title">
                    <div class="post-user-image">
                    {% if channel.profile_pic %}
                        <img src="{{ channel.profile_pic.url }}" class="avatar2" alt="">
                    {% else %}
                    <div class="avatar2"></div>
                    {% endif %}
                </div>
                <div class="post-author">
                    <a href="{% url "profile" channel.user.username %}"><strong>{{channel.user.username}}</strong></a>
                </div>
                </div>
        </div>
        {% endfor %}

    </div>

</div>
{% endblock %}