{% extends "base.html" %}
{% load static %}
{% block title %}
{{ profile_user.username }} Profile
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="profile-container">

    <!-- Profile Header -->
    <div class="profile-header">

        <div class="profile-avatar">
            {% if profile.profile_pic %}
                <img src="{{ profile.profile_pic.url }}"
                     alt="{{ profile.username }}">
            {% else %}
                <div class="avatar-placeholder">
                    {{ profile.username|first|upper }}
                </div>
            {% endif %}
            <h1>
                {{ profile.user.username }}
            </h1>

            <p class="username">
                @{{ profile.user.username }}
            </p>
            <p><i>joined on {{ profile.created }}</i></p>
             <div class="followers-following">
                <div class="followers">
                   <span class="count">{{ profile.follower.count }}</span>
                    <span class="label">Followers</span>
                </div>
                <div class="following">
                    <span class="count">{{ profile.following.count }}</span>
                    <span class="label">Following</span>
                </div>
            </div>  
        </div>
        <div class="edit-option">
            <a href="{% url "edit" %}"> <i>Edit</i></a>
        </div>
        
    </div>
    <div class="profile-info">
            <h3>Bio</h3>
            <p class="bio">
                {{ profile.bio|default:"No bio added yet." }}
            </p>
        </div>

    <!-- Posts Section -->
    <div class="posts-section">

        <h2>Posts</h2>

        {% if posts %}
            {% for post in posts %}

                <div class="post-card">

                    <div class="post-meta">
                        
                        <h3><strong>{{ profile.user.username }}</strong></h3>

                        <span>
                            {{ post.created|date:"M d, Y H:i" }}
                        </span>
                    </div>
                    <div class="img">
                    <div class="post-title">
                        <strong><h3>{{post.title}}</h3></strong>
                    </div>
                    <div class="img-detail">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="" class="image">
                        {% endif %}
                    </div>
                    </div>
                        <div class="post-content">
                            {{ post.body }}
                        </div>
                        <div class="post-actions">

    <button class="comment-btn"
        onclick="toggleComments('{{ post.id }}')">

    <i class="fa-regular fa-comment"></i>

    <span>{{ post.comment.count }}</span>

    </button>

</div>

<div class="post-comment" id="comments-{{ post.id }}">

    {% for com in post.comment.all %}

        <div class="comment-box">

            <div class="comment-avatar">
                <img src="{{ com.user.profile_pic.url }}" alt="">
            </div>

            <div class="comment-content">

                <div class="comment-header">
                    <div class="comment-user">
                    {{ com.user.user.username }}
                    </div>
                    <div class="comment-time">
                        <i class="text">{{ com.user.created }}</i>
                    </div>
                </div>

                <div class="comment-body">
                    {{ com.body }}
                </div>

            </div>

        </div>

    {% empty %}

        <div class="no-comment">
            No comments yet
        </div>

    {% endfor %}

</div>

            {% endfor %}
        {% else %}

            <div class="empty-posts">
                No posts yet.
            </div>

        {% endif %}

    </div>

</div>

{% endblock %}

